<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <button type="submit">
    {{ usuario ? 'Salvar' : 'Salvar' }}
  </button>

  <label>ID: <input formControlName="id" /></label><br />
  <label>Email: <input formControlName="email" /></label><br />
  <label>Nome do Usuário: <input formControlName="nomeUsuario" /></label><br />
  <label>Senha: <input type="password" formControlName="senhaHash" /></label><br />
  <label *ngIf="modoEdicao">Último Acesso: <input formControlName="lastLoggedIn" /></label><br />
  <label>Ativo:
    <select formControlName="ativo">
      <option [ngValue]="true">Sim</option>
      <option [ngValue]="false">Não</option>
    </select>
  </label><br />
</form>
