<div class="toolbar">
  <button class="btn-novo" (click)="abrirModalNovaFilial()">Novo</button>
  <button class="btn-editar" [disabled]="!selectedRow" (click)="abrirModalEdicao(selectedRow)">Editar</button>
  <button class="btn-deletar" [disabled]="!selectedRow" (click)="deletar(selectedRow)">Deletar</button>
  <button class="btn-recarregar" (click)="carregarFiliais()">
    <i class="pi pi-sync"></i>
  </button>
</div>

<app-modal *ngIf="showModal" [title]="modalTitle" (closeModal)="fecharModal()">
  <ng-container *ngComponentOutlet="modalComponent; injector: modalInjector"></ng-container>
</app-modal>

<app-data-table
  [displayedColumns]="displayedColumns"
  [dataSource]="dataSource"
  [selectedRowInput]="selectedRow"
  (rowClick)="onRowClick($event)"
  (rowDoubleClick)="abrirModalEdicao($event)">
</app-data-table>
