<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <button type="submit">
    {{ empresa ? 'Salvar' : 'Salvar' }}
  </button>

  <label>Razão Social: <input formControlName="razaoSocial" /></label><br />
  <label>Nome Fantasia: <input formControlName="nomeFantasia" /></label><br />
  <label>CNPJ: <input formControlName="cnpj" mask="00.000.000/0000-00" /></label><br />
  <label>Data de Fundação: <input type="date" formControlName="dataFundacao" /></label><br />
  <label>CEP: <input formControlName="cep" mask="00000-000" /></label><br />
  <label>Endereço: <input formControlName="endereco" /></label><br />
  <label>Número: <input formControlName="numero" /></label><br />
  <label>Cidade: <input formControlName="cidade" /></label><br />
  <label>Bairro: <input formControlName="bairro" /></label><br />
  <label>Rua: <input formControlName="rua" /></label><br />
  <label>Complemento: <input formControlName="complemento" /></label><br />
  <label>Site: <input formControlName="site" /></label><br />
  <label>Email: <input formControlName="email" /></label><br />
  <label>Telefone: <input formControlName="telefone" mask="(00) 00000-0000" /></label><br />
  <label>Cor: <input formControlName="cor" /></label><br />
  <label>Ativo:
    <select formControlName="ativo">
      <option [ngValue]="true">Sim</option>
      <option [ngValue]="false">Não</option>
    </select>
  </label><br />
  <label class="full-width-label">Observações: <textarea formControlName="observacoes" class="full-width-textarea"></textarea></label><br />
</form>
