table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table-container {
  overflow-x: auto;
  width: 100%;
  position: relative;
}


th {
  position: relative;
  user-select: none;
  border-right: 1px solid #e0e0e0;
}

tr.selected {
  background-color: #e0f3ff;
}


.mat-cell, .mat-header-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-campos {
  max-width: 400px;
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
