<div class="table-container">
  <table mat-table [dataSource]="dataSourceTable" class="mat-elevation-z2" matSort>
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [style.width]="column.width || 'auto'">
        {{ column.label }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{
          column.format
            ? column.format(element[column.key])
            : element[column.key]
        }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
    <tr mat-row *matRowDef="let row; columns: columnKeys;"></tr>
  </table>


</div>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
