.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal {
  background: white;
  border-radius: 5px;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 580px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1060;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 1;
  background-color: #2f3b52;
}

.modal-body {
  margin: 20px 0;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.modal-scroll-x {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* Estilo WebKit (Chrome, Edge) */
.modal-body::-webkit-scrollbar,
.modal-scroll-x::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.modal-body::-webkit-scrollbar-track,
.modal-scroll-x::-webkit-scrollbar-track {
  background: transparent;
}

.modal-body::-webkit-scrollbar-thumb,
.modal-scroll-x::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-body::-webkit-scrollbar-thumb:hover,
.modal-scroll-x::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.drag-handle {
  top: 0;
  width: 100%;
  background-color: #2f3b52;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.btn-close {
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2em;
}
